@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  /* primary */
  --colorGreen200: hsl(148, 38%, 91%);
  --colorGreen600: hsl(169, 82%, 27%);
  --colorRed: hsl(0, 66%, 54%);

  /* neutral */
  --colorWhite: hsl(0, 0%, 100%);
  --colorGrey500: hsl(186, 15%, 59%);
  --colorGrey900: hsl(187, 24%, 22%);

  /* weight 400, 700 */
}

* {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-family: "Karla";
  font-weight: 400;
  color: var(--colorGrey900);
}

body {
  background-color: var(--colorGreen200);
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
  padding: 15px 0px;
  min-height: 100vh; 
  margin: 0;
}
